# Python (Archivos compilados que vimos en tu captura)
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales (Si usas venv, env, etc.)
venv/
env/
entorno/
.env

# Django
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/